.vscode/**
.vscode-test/**
tests/**
out/**
out-test/**
test-fixtures/**
CLAUDE.md
images/demo.gif
.gitignore
.npmrc
.sops.yaml
vsc-extension-quickstart.md
eslint.config.mjs
knip.config.*
tsconfig*.json
**/*.map
**/.vscode-test.*
pnpm-lock.yaml
