.vscode/**
.vscode-test/**
src/**
out/test/**
test-fixtures/**
.gitignore
.npmrc
.sops.yaml
vsc-extension-quickstart.md
eslint.config.mjs
knip.config.*
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
